*{
	margin: 0px;
	padding: 0px;
}
body{
	background: linear-gradient(to top, #0099ff 0%, #ffffff 100%);
	font-family: Copperplate;
}

input {
	display:  block;
	height: 50px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border: 1px solid black;
	font-size: 16pt;
	padding: 10px 20px;
	outline: none;
	cursor: auto;
}

div#corpo-form{
	/*background-color: blue;*/
	width: 420px;
	margin: 150px auto 0px auto;
}

div#corpo-form h1{
	text-align: center;
	padding: 20px;
}

a1{
	color: white;
	text-decoration: none;
	text-align: center;
	display: block;
}
a{
	color: blue;
	text-decoration: none;
	text-align: center;
	display: block;
}
a:hover{
	text-decoration: underline;
}


input[type=submit] {
	background-color: #ff8080;
	cursor:  pointer;
}

::-webkit-input-placeholder {
	color: black;
}

::-moz-placeholder{
	color: black;
}

:-moz-placeholder{
	color: black;
}

:-ms-placeholder {
	color: black;
}